body {
  background-color: red;
}


.word-list {
  /* height:500px; */
  padding: 5px;
  background-color: #e0e6e6;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.word {
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid #555; */
  /* width: 90%; */
  height:8vh;
  padding: 4vh;
  position: relative;
  font-size: 3.5vw;
  
}

.word .en,.word .ch {
  /* position: absolute; */
  left:15px;
  margin-left: 5%;
  /* color:red; */
}

.word .en {
 
  font-weight: 600;
  /* top:10px; */
  /* top:75px; */
  color:#6495ED;
}


.word .ch {
 
  /* top:35px; */
}




.my-input {
  padding: 8px;
  border-radius: 5px;
  width: 150px;
  /* border-color: gray; */
  /* outline: none; */
  border: 1px solid rgba(0, 0, 0,0.2);
  margin-bottom: 10px;
  margin-right: 5px;
}

.my-button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid teal;
  background-color: white;
  margin-left: 5px;
  width: 60px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  gap: 1rem;
}

.card {
  border-radius: 5px;
  /* margin-bottom: 10px; */
  background-color: white;
  /* width: 150px; */
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* <offset-x> <y> <blur-radius> <spread-radius> <color>*/
  box-shadow: 0 0 2px 2px rgba(0, 0, 0,0.2);

  /* 翻轉控制 */
  transform: rotateY(var(--rotate-y,0));

  /* 3D的形式,讓2個div的內容可以切換 */
  transform-style: preserve-3d;
  

  /* 兩個外觀間轉換的補間動畫 */
  transition: 350ms; 

  cursor: pointer;
  
}

/* 在 click 事件,改變為此樣式,轉180度,正反內容互換 */
.card.flip {
  --rotate-y:180deg
}


.card .front, 
.card .back {
  /* padding: 1rem; */
  /* 讓正反內容可以出現在同個位置 */
  position: absolute;
  /* 背面隱藏 */
  backface-visibility: hidden;
}

/* 一開始背面內容轉180度,搭配 backface 做隱藏 */
.card .back {
 
  /* 轉180度(到背面) */
  transform: rotateY(180deg);
  /* 背面隱藏 */
  /* backface-visibility: hidden; */
}

