.first {
  /* background-color: red; */
}

.post-list {
  padding: 1em;
  background-color: #a0d4cd;
}

.post {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  background-color: #fff;
  padding: 1em;
  border-radius: 0.5em;
  color: #494f5f;
}

.post .first-column {
  width: 20%;
}

.post .second-column {
  width: 50%;
}

.post .first-column,
.post .second-column {
  margin-right: 1em;
  /* padding: 0.1em; */
}

.post .first-column div,
.post .second-column div {
  /* margin-right: 1em; */
  padding: 0.2em;
}

.post .second-column {
  /* border: 1px solid teal; */
}

.post .right {
  display: flex;
  width: 100px;
  /* border: 1px solid teal; */
  justify-content: space-evenly;
  align-items: center;
  color: teal;
  font-size: 1.2em;
  /* text-align: right; */
}
