.trans {
  /* background-color: teal; */
  margin: 2em;
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
}

.trans .acc {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
}

.trans .acc div {
  /* width: 40%; */
}
